.container
  %h1.text-center  Welcome to Authentification from scratch in Rails !
  .jumbotron
    %p.text-center This is an app with a full authentification system coded from scratch without using any gems besides bcrypt.
    %p.text-center Test it out!
    .btn-jumbotron.text-center
      =link_to "Sign Up", signup_path, :class => "btn btn-primary"
      =link_to "Sign In", signin_path, :class => "btn btn-primary"
